<ion-header>
  <ion-toolbar>
    <ion-title>addupdatemodal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list>
    <ion-item>
      <ion-label>
        <ion-button expand="block" size="small" routerLink="/itemregister" color="secondary">Add New Gear</ion-button>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-button expand="block" size="small" routerLink="/itemregister" (click)="ItemForm()" color="secondary">Add New Kit</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
