ion-content {
    --padding-top: 16px;
    --padding-bottom: 16px;
    --padding-start: 26px;
    --padding-end: 26px;
}


.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.seperator {
    hr {
        position: absolute;
        left: 0;
        width: 100%;
        background: #e2e2e2;
    }
}

.item-name {
    color: #2a2a2a;
}

.description {
  

    p {
        color: #656565;
    }
}

h5 {
    color: #2a2a2a;
    padding-top: 10px;
}

/* ion-title {
    text-align: center
  } */


ion-icon{
    font-size: 24px;
}

.centerButton{
    --background: #009adb 100%;
    --box-shadow: none;
    position: relative;
    height: 50px;
    margin-bottom: 15px;
    align-items: center;
   

    ion-icon{
        font-size: 24px;
    }
}



