ion-content {
    --padding-top: 16px;
    --padding-bottom: 16px;
    --padding-start: 26px;
    --padding-end: 26px;
}


img {
    width: 100px;
} 


/* ion-title {
    text-align: center
  } */

.boldText{
    font-weight: 600;
}



/* .main-button{
    margin: 1rem;
    // width: 100px;
    height: 20px;
    align-items: center;
    
} */

 .center{
    align-items: center;
    margin: 1rem;
    height: 50px;
    margin-top: 2rem;
    font-weight: 400;
    text-align: center;
} 



