ion-content {
    --padding-top: 16px;
    --padding-bottom: 16px;
    --padding-start: 26px;
    --padding-end: 26px;
}

.item-name {
    color: #2a2a2a;
}

.seperator {
    hr {
        position: absolute;
        left: 0;
        width: 100%;
        background: #e2e2e2;
    }
}

.description {
    h5 {
        color: #2a2a2a;
        padding-top: 10px;
    }

    p {
        color: #656565;
    }
}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

ion-icon{
    font-size: 24px;
}