<ion-header>
<!--   <ion-toolbar color="school">
    <ion-title>
      Media Equipment
    </ion-title>

  </ion-toolbar> -->
 
</ion-header>

<ion-content class="ion-padding ion-text-center">
<!-- <div class="container">
    <div class="page-header">
      <h1>Welcome to TUD</h1>
      <h3>Media Inventory App</h3>
    </div>

     <img src="../../assets/img/Technological-University-Dublin-Logo.jpg" /> 

  <div class="button-container">
      <ion-button  expand="block" class="main-button" size="large"  routerLink="/login"><ion-icon name="school-outline"></ion-icon>&nbsp;&nbsp;Student</ion-button>
      <ion-button expand="block" class="main-button" (click)="signIn('admin')" size="large"><ion-icon name="document-text-outline"></ion-icon>&nbsp;Administor</ion-button>
    </div> 
  </div>  -->
 
  

    <ion-slides pager="true">
      <!-- Slide 1 -->
      <ion-slide>
        
       <div class="container">
<!--         <div class="page-header">
          <h1>Welcome to TUD</h1>
          <h3>Media Inventory App</h3>
        </div> -->
        <img class="center" src="../../assets/img/Asset 6@150x.png" />

       
        <ion-button color="light" (click)="start()" fill="outline" >Start</ion-button>
			

       </div>
        
      </ion-slide>
    </ion-slides>
 
</ion-content>
